.Auth-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  .Auth-form {
    
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
   
    border-radius: 8px;
    
  }
  
  .Auth-form-content {
    text-align: justify;
  }
  
  .Auth-form-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
   
  }
  .sub{
    
    background-color:#0066b2;
  }